.h1-animate {
    animation-name: rotate-circle;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
}

@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}

.animate-h2 {
    animation-name: bounce;
    animation-iteration-count: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

