@use 'vars' as *;
@use 'mixin' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: $brand-color;
    padding: 1rem;
    align-items: center;
    @include flex-layout;
    // position: relative;
    // z-index: 3;

    .closeIcon {
      display: none;
    }
}

header img {
    height: 6.25rem;
    width: auto;
    
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
  width: 34px;
  height: 34px;
}


.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}


@include media {
  
  header {
    background-color: $brand-color;
    padding: 1rem;
    align-items: center;
    @include flex-layout;
  }

  .hamburger{
    display: none;
  }
  
  .menu {
    background-color: $brand-color;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: static;
    transform:unset;
    padding-top: 0;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .menuItem {
    text-decoration: none;
    display: block;
    margin: 0;
    font-size: 1rem;
    color: $body-bg-color;
    text-decoration: none;
  }

}
