@use 'vars' as*;
@use 'mixin' as*;

.main-content {
    width: 70%;
    margin: 0 auto;
}

.banner {
    position: relative;
    left: 0;
    right: 0;
    width: 100vw;
}

.banner h1, .banner h2 {
    position: absolute;
}

#keyframes, #transitions, #transforms, #animations {
    @include display-grid;
    gap: 2rem;
}