@use 'vars' as*;

@mixin img-cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

@mixin display-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

@mixin flex-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin media {
    @media (min-width: 50rem) {
        @content;
    }
}

