@use 'vars' as *;
@use 'mixin' as *;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    header a {
        text-decoration: none;
        padding: 0 1rem;
    }

