@use 'vars' as*;
@use 'mixin' as*;

#sidebar {
  display: none;
}

@include media {

  #sidebar {
    display: block;
    width: 250px;
    background-color: $sidebar-bg-color;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
  }
  #sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #sidebar ul li {
    margin-bottom: 5px;
  }
  #sidebar ul li a {
    text-decoration: double;
    color: $text-color-dark;
    font-size: 1rem;
    display: block;
    padding: 5px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  #sidebar ul li a:hover {
    background-color: $brand-color;
  }
}
