@use 'vars' as *;
@use 'mixin' as *;

.transitions-h2 {
    transition: all 0.3s ease-in;
}

.transitions-h2:hover {
    background-color: $brand-color;
    border: 18px outset #292929;
    border-radius: 10px;
    color: $body-bg-color;
    margin-bottom: 1rem;
}

.transitions-graphic {
    width: 50rem;
    transition: transform 1s ease-out;
}

.transitions-graphic:hover {
    transform: rotate(360deg) translate(0px, 0px);
}

.transitions-sub-properties ul {
    padding-left: 0;
}

.transitions-sub-properties ul li a {
    font-size: 1.25rem;
    transition: all 0.5s linear;
}

.transitions-video {
    display: grid;
    margin: 1rem 0 0;
    grid-column: span 2;
}

.transitions-cubic-bezier {
    opacity: 0.25;
    transition: opacity 2s cubic-bezier(0.11, 0, 0.5, 0) 0s;
}

.transitions-cubic-bezier:hover {
    opacity: 1;
}

@media (min-width: 50em) {
    .transitions-step-values {
        overflow: hidden;
    }

    .transitions-step-values h4 {
        position: relative;
        animation: step 3s steps(5, jump-none) infinite; 
    }

    @keyframes step {
        0% { margin-left: 0; }
        100% { margin-left: 40vw; }
    }
}
