@use 'vars' as *;

.transitions-intro picture img {
    width: 50rem;
    transition: width 1s ease-in;
}

.transitions-intro picture img:hover {
    width: 80rem;
}

.transitions-sub-properties ul li a {
    text-decoration: none;
    transition: all 0.5s ease;
}

.transitions-sub-properties ul li a:hover {
    background-color: $brand-color;
    color: $body-bg-color;
}

.transitions-cubic-bezier {
    opacity: 0.25;
    transition: opacity 2s cubic-bezier(0.11, 0, 0.5, 0) 0s;
}

.transitions-cubic-bezier:hover {
    opacity: 1;
}