@use 'vars' as *;

body, a {
    font-family: $body-font;
};

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    text-transform: uppercase;
};

nav a, table {
    font-family: $heading-font;
}

table {
    margin: 1rem 0;
}

main {
    line-height: 2;
};

ul, ol {
    padding-left: 2rem;
}


a, a:active {
    color: $brand-color;
}

a:focus {
    outline: $brand-color solid 2px;
}

main h2 {
    padding: 1rem;
    text-align: center;
}

main h3, main h4 {
    padding: 0 0 1rem;
}