//colors
$brand-color: #D1F0B1;
$body-bg-color: #353A47;
$sidebar-bg-color: #BED2D5;

//uses built-in colour functions to lighten/darken colours
$brand-color-dark: darken($brand-color, 15);
$brand-color-light: lighten($brand-color, 15);

//text colors
$text-color-dark: #353A47;
$text-color-light: #D1F0B1;
$heading-color-dark: #353A47;
$heading-color-light: #BED2D5;

//fonts
$body-font: "Montserrat", Arial, Helvetica, sans-serif;
$heading-font: "PT Sans Caption", Arial, Helvetica, sans-serif;